@model IList<CityWeather>

@{
    string[] colors = ["#6cb7e6","#e0ff8f","#faca70"];

    string DetectColor(CityWeather city){
        if(city.TemperatureFahrenheit < 44)
            return colors[0];
        else if(city.TemperatureFahrenheit >= 44 && city.TemperatureFahrenheit <= 74)
            return colors[1];
        else
            return colors[2];
    }
}

<section class="container">
    @foreach(var city in Model){
        <div class="card" style="background-color: @DetectColor(city);">
            <div class="header">
                <h2>@city.CityName</h2>
                @if(DateTime.TryParse(city.DateAndTime, out DateTime time)){
                    <h4>@time.ToString("hh:mm tt")</h4>
                }
                else{
                    <h4>@DateTime.Now.ToString("hh:mm tt")</h4>
                }
                <p>Details</p>
            </div>
            <div class="temperature">
                <h2>@city.TemperatureFahrenheit</h2>
            </div>
        </div>
    }
</section>
