@using Task.Models.Views
@model ShowInstructorByIdViewModel


<ul class="list-group">
  <li class="list-group-item"><img src="/Images/@Model.Image"></li>
  <li class="list-group-item">@Model.Name</li>
  <li class="list-group-item">@Model.Address</li>
  <li class="list-group-item">@Model.Salary</li>
  <li class="list-group-item">@Model.CRSName</li>
  <li class="list-group-item">@Model.DeptName</li>
</ul>
