@using System.Reflection
@using RazorViews.ViewModels.TestViewModels
@model IndexViewModel

@functions{
    private string _assemply;
    public string assets;

    public Views_Test_Index(){
        _assemply = Assembly.GetExecutingAssembly().FullName?.Split(',',StringSplitOptions.TrimEntries)[0] ?? "";
        assets = $"{_assemply}.styles.css";
    }

    public static string GetAlert(){
        return @"<script>alert('{assets} Found')</script>";
    }

}



<link rel="stylesheet" href="@assets">
@Html.Raw(GetAlert())
<h1 onclick="test()"></h1>
<h1 onclick="test()">@ViewData["Message"]</h1>
<h2>Contact</h2>
<address>
    @Model.Street<br>
    @Model.City, @Model.State @Model.PostalCode<br>
    <abbr title="Phone">P:</abbr> 425.555.0100
</address>
<p>Use this area to provide additional information.</p>

<script>
    function test(){
        console.log("hello JS");
    }
</script>